@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --bs-light: #e0b0ff;
  --bs-primary: #4a148c;
}

.bg-light {
  background-color: var(--bs-light) !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.text-light {
  color: #f8f9fa !important;
}
